$itemHeight: 35px;
$c-backGround: #e5e5e5;
$c-backGroundHovered: #e5e5e5;
$c-active: #ffffff;
$c-darkShade: #333333;
$c-border: #a3a3a3;
$c-selectedShade: #ff0000;
$c-pressable-text: #134371;

.container {
  border: 1px solid $c-border;
  padding: 1rem;
  width: 36rem;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.2);
}

.selectedItemsWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  min-height: 2rem;
  justify-content: flex-start;
}

.selectedItem {
  background-color: $c-backGround;
  min-height: $itemHeight;
  width: 98%;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedItemClose {
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
  background-color: $c-darkShade;
  color: $c-active;
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: $c-active;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 1;
  text-transform: lowercase;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: $c-darkShade;
    border-color: $c-darkShade;
    background-color: $c-active;
  }
}

.itemsWrapper {
  display: flex;
  flex-basis: 100%;
  max-width: 100%;
  flex-wrap: wrap;
}

.itemWrapper {
  max-width: 33.333%;
  flex-basis: 33.333%;
  padding: 0.5rem;
}

.item {
  border: 1px solid $c-border;
  background-color: $c-backGround;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  text-transform: uppercase;
  line-height: 1;
  color: $c-pressable-text;
  font-size: 1.125rem;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $c-backGroundHovered;
  }

  &.itemSelected {
    background-color: $c-active;

    .itemCheckbox:before {
      content: 'X';
    }

  }
}

.itemCheckbox {
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 1px solid $c-border;
  border-radius: 3px;
  margin-right: 0.3125rem;
  color: $c-selectedShade;
  font-weight: bold;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
